<ion-header parallax imageUrl="/assets/bilder/herren1.jpg" maximumHeight="350" expandedColor="#AAA" titleColor="#313131">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Erste Mannschaft
    </ion-title>
   <!-- <ion-buttons slot="end">
      <ion-button>
        Button
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" (click)="open()"> Tabelle, Team uvm. </ion-button>

  
  <ion-grid>
  <ion-row >
    <ion-col size="auto" class="ion-justify-content-start">
      <div>
        Nummer: <br>
        2 <br>
        6 <br>
        7 <br>
        9 <br>
        11 <br>
        12 <br>
        14 <br>
        15 <br>
        16 <br>
        20 <br>
        21 <br>
        22 <br>
        24 <br>
        31 <br>
        34 <br>
        44 <br>
        53 <br>
        90 <br>
      </div>
    </ion-col>
    <ion-col size="auto" class="ion-justify-content-center">
      <div>
        Spieler: <br>
        Eike Neff <br>
        Fabian Wild <br>
        Steffen Stocker <br>
        Timo Spraul <br>
        Luca Barbon <br>
        Nebojsa Nikolic <br>
        Marcel Blasius <br>
        Lukas Schade <br>
        Mark Herbert <br>
        Strahinja Vucetic <br>
        Mike Bächle <br>
        Michael Knuth <br>
        Philipp Kunde <br>
        Marco Schlampp <br>
        Davic Knezovic <br>
        Adrian Volk <br>
        Robin Dittrich <br>
        Radoslaw Jankowski <br>
      </div>
    </ion-col>
    <ion-col size="auto" class="ion-justify-content-end">
      <div>
        Position: <br>
        Kreisläufer <br>
        Links Außen <br>
        Kreisläufer <br>
        Rückraum Links <br>
        Rückraum Links<br>
        Torwart <br>
        Rückraum Links <br>
        Rückraum Links<br>
        Torwart <br>
        Rechts Außen<br>
        Rückraum Links <br>
        Torwart <br>
        Links Außen <br>
        Rückraum Links <br>
        Rechts Außen<br>
        Rückraum Mitte <br>
        Rückraum Mitte <br>
        Rückraum Links <br>
      </div>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>