<!--<ion-header parallax imageUrl="/assets/bilder/herren1.jpg" maximumHeight="350" expandedColor="#AAA" titleColor="#313131">-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>
      HGW Hofweier I
    </ion-title>
   <!-- <ion-buttons slot="end">
      <ion-button>
        Button
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-button expand="block" (click)="open()"> Tabelle, Team uvm. </ion-button>-->
  <br>
  <h3 style="text-align:center;">Trainerstab</h3>
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Michael Bohn.jpg"/>
          <div style="text-align:center;" class="card-title">Michael Bohn</div>
          <div style="text-align:center;" class="card-subtitle">Trainer</div>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Boris Schnak.jpg"/>
          <div style="text-align:center;" class="card-title">Boris Schnak</div>
          <div style="text-align:center;" class="card-subtitle">Co-Trainer</div>
          <br>
        </ion-card>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Daniela Horedam.jpg"/>
          <div style="text-align:center;" class="card-title">Daniela Horedam</div>
          <div style="text-align:center;" class="card-subtitle">Physio</div>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <!--<ion-card>
          <img src="assets/team/erste/Adrian Volk.jpg"/>
          <div style="text-align:center;" class="card-title">Fabian Wild</div>
          <div style="text-align:center;" class="card-subtitle">Nr. 6 / Links Außen</div>
          <br>
        </ion-card>-->
      </ion-col>
    </ion-row>

    <h3 style="text-align:center;">Spieler</h3>

    <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Eike Neff</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 2 / Kreisläufer</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Fabian Wild.jpg"/>
            <div style="text-align:center;" class="card-title">Fabian Wild</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 6 / Links Außen</div>
            <br>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Steffen Stocker</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 7 / Kreisläufer</div>
            <br>
          </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Timo Spraul.jpg"/>
            <div style="text-align:center;" class="card-title">Timo Spraul</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 9 / Rückraum Links</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Luca Barbon.jpg"/>
            <div style="text-align:center;" class="card-title">Luca Barbon</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 11 / Rückraum Links</div>
            <br>
          </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Marcel Blasius.jpg"/>
            <div style="text-align:center;" class="card-title">Marcel Blasius</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 14 / Rückraum Links</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Lukas Schade.jpg"/>
            <div style="text-align:center;" class="card-title">Lukas Schade</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 15 / Rückraum Links</div>
            <br>
          </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Mark Herbert</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 16 / Torwart</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Strahinja Vecetic.jpg"/>
            <div style="text-align:center;" class="card-title">Strahinja Vucetic</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 10 / Rechts Außen</div>
            <br>
          </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Maik Bächle.jpg"/>
            <div style="text-align:center;" class="card-title">Mike Bächle</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 21 / Rückraum Links</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Michael Knuth.jpg"/>
            <div style="text-align:center;" class="card-title">Michael Knuth</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 22 / Torwart</div>
            <br>
          </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Philipp Kunde.jpg"/>
            <div style="text-align:center;" class="card-title">Philipp Kunde</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 24 / Links AUßen</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/David Knezevic.jpg"/>
            <div style="text-align:center;" class="card-title">David Knezevic</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 34 / Rechts Außen</div>
            <br>
          </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Adrian Volk.jpg"/>
            <div style="text-align:center;" class="card-title">Adrian Volk</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 44 / Rückraum Mitte</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Robin Dittrich.jpg"/>
            <div style="text-align:center;" class="card-title">Robin Dittrich</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 53 / Rechts Mitte</div>
            <br>
          </ion-card>
      </ion-col>
      <ion-col width-50>
          <!--<ion-card>
            <img src="assets/team/erste/placeholder.gif"/>
            <div style="text-align:center;" class="card-title">Adrian Volk</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 44 / Rückraum Mitte</div>
            <br>
          </ion-card>-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>