<!--<ion-header parallax imageUrl="/assets/bilder/herren1.jpg" maximumHeight="350" expandedColor="#AAA" titleColor="#313131">-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>
      HGW Hofweier I
    </ion-title>
   <!-- <ion-buttons slot="end">
      <ion-button>
        Button
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-button expand="block" (click)="open()"> Tabelle, Team uvm. </ion-button>-->
  <br>
  <h3 style="text-align:center;">Trainerstab</h3>
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Michael BOHN.jpg"/>
          <div style="text-align:center;" class="card-title">Michael Bohn</div>
          <div style="text-align:center;" class="card-subtitle">Trainer</div>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Boris Schnak.jpg"/>
          <div style="text-align:center;" class="card-title">Boris Schnak</div>
          <div style="text-align:center;" class="card-subtitle">Co-Trainer</div>
          <br>
        </ion-card>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/placeholder-big.jpg"/>
          <div style="text-align:center;" class="card-title">Michael Gengenbacher</div>
          <div style="text-align:center;" class="card-subtitle">Torwarttrainer</div>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Daniela Horedam.jpg"/>
          <div style="text-align:center;" class="card-title">Daniela Horedam</div>
          <div style="text-align:center;" class="card-subtitle">Physio</div>
          <br>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/placeholder-big.jpg"/>
          <div style="text-align:center;" class="card-title">Bastian Waldhecker</div>
          <div style="text-align:center;" class="card-subtitle">Sportlicher Leiter</div>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/placeholder-big.jpg"/>
          <div style="text-align:center;" class="card-title">Paul Hefner</div>
          <div style="text-align:center;" class="card-subtitle">Mannschaftsarzt</div>
          <br>
        </ion-card>
      </ion-col>
    </ion-row>

    <h3 style="text-align:center;">Spieler</h3>

    <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Eike NEFF.jpg"/>
            <div style="text-align:center;" class="card-title">Eike Neff</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 2 / Kreisläufer</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Fabian WILDT.jpg"/>
            <div style="text-align:center;" class="card-title">Fabian Wildt</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 6 / Links Außen</div>
            <br>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Tim STOCKER.jpg"/>
            <div style="text-align:center;" class="card-title">Tim Stocker</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 7 / Rückraum Mitte</div>
            <br>
          </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Timo SPRAUL.jpg"/>
            <div style="text-align:center;" class="card-title">Timo Spraul</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 9 / Rückraum Links</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Marcel BLASIUS.jpg"/>
          <div style="text-align:center;" class="card-title">Marcel Blasius</div>
          <div style="text-align:center;" class="card-subtitle">Nr. 14 / Rückraum Links</div>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Lukas SCHADE.jpg"/>
          <div style="text-align:center;" class="card-title">Lukas Schade</div>
          <div style="text-align:center;" class="card-subtitle">Nr. 15 / Rückraum Links</div>
          <br>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Mark HERBERT.jpg"/>
          <div style="text-align:center;" class="card-title">Mark Herbert</div>
          <div style="text-align:center;" class="card-subtitle">Nr. 16 / Torwart</div>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Philipp ISENMANN.jpg"/>
          <div style="text-align:center;" class="card-title">Philipp Isenmann</div>
          <div style="text-align:center;" class="card-subtitle">Nr. 20 / Rechts Außen</div>
          <br>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Mike BÄCHLE Kopie.jpg"/>
          <div style="text-align:center;" class="card-title">Mike Bächle</div>
          <div style="text-align:center;" class="card-subtitle">Nr. 21 / Rückraum Links</div>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Dominik MERZ.jpg"/>
            <div style="text-align:center;" class="card-title">Dominik Merz</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 22 / Torwart</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Timo HÄSS Kopie.jpg"/>
            <div style="text-align:center;" class="card-title">Timo Häß</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 24 / Kreisläufer</div>
            <br>
          </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Laurin EHRET.jpg"/>
            <div style="text-align:center;" class="card-title">Laurin Ehret</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 31 / Kreisläufer</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/David KNEZOVIC.jpg"/>
            <div style="text-align:center;" class="card-title">David Knezevic</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 34 / Rückraum Rechts</div>
            <br>
          </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Cedrik LAUPE.jpg"/>
            <div style="text-align:center;" class="card-title">Cedric Laupe</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 35 / Rückraum Mitte</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/Adrian VOLK.jpg"/>
          <div style="text-align:center;" class="card-title">Adrian Volk</div>
          <div style="text-align:center;" class="card-subtitle">Nr. 44 / Rückraum Mitte</div>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Nils EHRET.jpg"/>
            <div style="text-align:center;" class="card-title">Nils Ehret</div>
            <div style="text-align:center;" class="card-subtitle">Nr. 90 / Rückraum Links</div>
            <br>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>