<!--<ion-header parallax imageUrl="/assets/bilder/herren1.jpg" maximumHeight="350" expandedColor="#AAA" titleColor="#313131">-->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tab3"></ion-back-button>
      </ion-buttons>
      <ion-title>
        HGW Hofweier II
      </ion-title>
     <!-- <ion-buttons slot="end">
        <ion-button>
          Button
        </ion-button>
      </ion-buttons>-->
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <!--<ion-button expand="block" (click)="open()"> Tabelle, Team uvm. </ion-button>-->
    <br>
    <h3 style="text-align:center;">Trainerstab</h3>
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Georg Fischinger</div>
            <div style="text-align:center;" class="card-subtitle">Trainer</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Stefan See</div>
            <div style="text-align:center;" class="card-subtitle">Spielertrainer</div>
            <br>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Martin Isenmann</div>
            <div style="text-align:center;" class="card-subtitle">Zeitnehmer / Betreuer</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Patrick Herrmann</div>
            <div style="text-align:center;" class="card-subtitle">Torwarttrainer</div>
            <br>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <h3 style="text-align:center;">Spieler</h3>
  
      <ion-row>
          <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Patrick Herrmann</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 1 / Torwart</div>
              <br>
            </ion-card>
          </ion-col>
          <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Ruben Zimmermann</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 2 / Rechts Außen</div>
              <br>
            </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Jochen Remmel</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 3 / Kreisläufer</div>
              <br>
            </ion-card>
        </ion-col>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Marius Deger</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 4 / Kreisläufer</div>
              <br>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Luca Barbon</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 11 / Rückraum Links</div>
              <br>
            </ion-card>
        </ion-col>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Marcel Blasius</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 14 / Rückraum Links</div>
              <br>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Lukas Schade</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 15 / Rückraum Links</div>
              <br>
            </ion-card>
        </ion-col>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Mark Herbert</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 16 / Torwart</div>
              <br>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Strahinja Vucetic</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 10 / Rechts Außen</div>
              <br>
            </ion-card>
        </ion-col>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Mike Bächle</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 21 / Rückraum Links</div>
              <br>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Michael Knuth</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 22 / Torwart</div>
              <br>
            </ion-card>
        </ion-col>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Philipp Kunde</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 24 / Links AUßen</div>
              <br>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">David Knezevic</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 34 / Rechts Außen</div>
              <br>
            </ion-card>
        </ion-col>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Adrian Volk</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 44 / Rückraum Mitte</div>
              <br>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
            <ion-card>
              <img src="assets/team/erste/placeholder-big.jpg"/>
              <div style="text-align:center;" class="card-title">Robin Dittrich</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 53 / Rechts Mitte</div>
              <br>
            </ion-card>
        </ion-col>
        <ion-col width-50>
            <!--<ion-card>
              <img src="assets/team/erste/placeholder.gif"/>
              <div style="text-align:center;" class="card-title">Adrian Volk</div>
              <div style="text-align:center;" class="card-subtitle">Nr. 44 / Rückraum Mitte</div>
              <br>
            </ion-card>-->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>