<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab5"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Vorstandschaft
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vorstandschaft</ion-title>
    </ion-toolbar>
  </ion-header>


  <h3 style="text-align:center;">Vorstandsvorsitzende</h3>
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/placeholder-big.jpg"/>
          <div style="text-align:center;" class="card-title">Manuel Schaub</div>
          <div style="text-align:center;" class="card-subtitle">1. Vorstand</div>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card>
          <img src="assets/team/erste/placeholder-big.jpg"/>
          <div style="text-align:center;" class="card-title">Alexander Bruederle</div>
          <div style="text-align:center;" class="card-subtitle">2. Vorstand</div>
          <br>
        </ion-card>
      </ion-col>
  </ion-row>
  

    <h3 style="text-align:center;">Fachbereich Marketing</h3>

    <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Alexander Brüderle</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Marketing</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Peter Ehleiter</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Marketing</div>
            <br>
          </ion-card>
        </ion-col>
    </ion-row>

    <h3 style="text-align:center;">Fachbereich Finanzen und Spielstätte</h3>

    <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/Michael BOHN.jpg"/>
            <div style="text-align:center;" class="card-title">Michael Bohn</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Finanzen</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Anita Fuchs</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Spielstätte</div>
            <br>
          </ion-card>
        </ion-col>
    </ion-row>

    <h3 style="text-align:center;">Fachbereich Jugend</h3>

    <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Frank Ehret</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Jugend</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Lukas Schade</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Jugend</div>
            <br>
          </ion-card>
        </ion-col>
    </ion-row>

    <h3 style="text-align:center;">Fachbereich Veranstaltungen</h3>

    <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Marc Wolber</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Veranstaltungen</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Michael Herzberg</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Veranstaltungen</div>
            <br>
          </ion-card>
        </ion-col>
    </ion-row>

    <h3 style="text-align:center;">Fachbereich Controlling</h3>

    <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Walter Neff</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Controlling</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Timo Wolber</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Controlling</div>
            <br>
          </ion-card>
        </ion-col>
    </ion-row>

    <h3 style="text-align:center;">Fachbereich Gastronomie</h3>

    <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Dieter Fels</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Gastronomie</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Klaus Bayer</div>
            <div style="text-align:center;" class="card-subtitle">Fachbereich Gastronomie</div>
            <br>
          </ion-card>
        </ion-col>
    </ion-row>

    <h3 style="text-align:center;">Schriftführerin und Sportbetrieb</h3>

    <ion-row>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Nadine Zimmermann</div>
            <div style="text-align:center;" class="card-subtitle">Schriftführerin</div>
            <br>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <img src="assets/team/erste/placeholder-big.jpg"/>
            <div style="text-align:center;" class="card-title">Bastian Waldhecker</div>
            <div style="text-align:center;" class="card-subtitle">Sportbetrieb</div>
            <br>
          </ion-card>
        </ion-col>
    </ion-row>

  </ion-grid>



  
</ion-content>
