<ion-header>
  <ion-toolbar>
    <ion-title>
      HGW TV 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="didScroll($event)">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HGW TV</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card *ngFor="let item of feed"> 
      <ion-card-header>
        <ion-card-title>{{ item.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ item.text }}
      <div *ngIf="item.src">
        <video #player playsinline preload="auto">
          <source [src]="item.src" type="video/mp4"/>
        </video>
        <div class="bar">
          <ion-button (click)="openFullscreen(player)" color="light" fill="center">
            <ion-icon slot="icon-only" name="easel"></ion-icon>
          </ion-button>
          <ion-button (click)="playOnSide(player)" color="light" fill="clear">
            <ion-icon slot="icon-only" name="open"></ion-icon>
          </ion-button>
        </div>
      </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="sticky-video" #stickyplayer [hidden]="!stickyVideo">
    <div class="sticky-controls" *ngIf="stickyVideo">
      <ion-row class="ion-no-padding">
        <ion-col size="4">
          <ion-button size="small" (click)="closeSticky()" color="light" fill="clear">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button size="small" (click)="playOrPauseSticky()" color="light" fill="clear">
            <ion-icon slot="icon-only" [name]="stickyPlaying ? 'pause' : 'play'"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button size="small" (click)="openFullscreen()" color="light" fill="clear">
            <ion-icon slot="icon-only" name="easel"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

 <!-- <iframe width="100%" height="ç" src="https://www.youtube.com/embed/3SHhJaS_97Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  
  <iframe 
  height="250"
    width="100%"
  src="https://www.youtube.com/embed/live_stream?channel=UCKs5PDJNt5omv_71zYSb6ug&autoplay=1" 
  frameborder="0" 
  allowfullscreen>
  </iframe>

  <iframe 
  height="500"
  width="100%"
  src="https://www.youtube.com/live_chat?=RNFJScQR0Io" 
  frameborder="0" 
  allowfullscreen>
  </iframe>
  
  <iframe
    src="https://player.twitch.tv/?channel=hgwhofweier&parent=player.twitch.tv&muted=true"
    height="250"
    width="100%"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true">
</iframe>

<iframe frameborder="0"
scrolling="no"
  id="chat_embed"
  src="https://www.twitch.tv/embed/hgwhofweier/chat?parent=de.hgwhofweier.hgwhofweierapp"
  height="500"
  width="100%">
</iframe>
<iframe frameborder="0"
        scrolling="no"
        id="chat_embed"
        src="https://www.twitch.tv/embed/hgwhofweier/chat?parent=www.hgw-hofweier.de"
        height="500"
        width="100%">
</iframe>

<ion-button href="twitch://open?stream=hgwhofweier">Zum Livestream</ion-button>-->
</ion-content>
