<ion-header>
  <ion-toolbar>
    <ion-title>
      Livestream
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <iframe
    src="https://player.twitch.tv/?channel=hgwhofweier&muted=true"
    height="250"
    width="100%"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true">
</iframe>

<iframe frameborder="0"
        scrolling="no"
        id="chat_embed"
        src="https://www.twitch.tv/embed/hgwhofweier/chat"
        height="500"
        width="100%">
</iframe>
</ion-content>
