<ion-header>
  <ion-toolbar>
    <ion-title>
      Ergebnisse
    </ion-title>
    <ion-chip (click)="presentAlertConfirm()">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Coronavirus</ion-label>
    </ion-chip>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment 
    value="all" 
    scrollable="true"
    [(ngModel)]="segmentModel" >
    <ion-segment-button value="1">
      <ion-label>HGW I</ion-label>
    </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>HGW II</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3" >
        <ion-label>HGW A</ion-label>
      </ion-segment-button>
      <ion-segment-button value="4" >
        <ion-label>HGW B</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ergebnisse</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--1
  <div [ngSwitch]="type">-->
    <ng-container *ngIf="segmentModel === '1'">
  <ion-list *ngFor="let data of usersList">
    <ion-item-divider sticky text-center center>
      <ion-label text-center> 
        <strong>{{ data.gDate }} - {{ data.gTime }} Uhr</strong>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label text-center>
        <h3 class="ion-text-center"> 
          {{ data.gHomeTeam }} <img class="img" [src]="data.gHomeImg" align="center">
          &nbsp;
          <b >{{ data.gHomeGoals }} : {{ data.gGuestGoals }} </b>
          &nbsp;
          <img class="img" [src]="data.gGuestImg" align="center">  {{ data.gGuestTeam }} 
        </h3>
        <p class="ion-text-center">
          {{ data.gGymnasiumName }} &mdash; <b>Südbadenliga</b>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-container>  <!--</div>-->

  <ng-container *ngIf="segmentModel === '2'">
    <ion-list *ngFor="let data of usersList2">
      <ion-item-divider sticky text-center center>
        <ion-label text-center> 
          <strong>{{ data.gDate }} - {{ data.gTime }} Uhr</strong>
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label text-center>
          <h3 class="ion-text-center"> 
            {{ data.gHomeTeam }} <img class="img" [src]="data.gHomeImg" align="center">
            &nbsp;
            <b >{{ data.gHomeGoals }} : {{ data.gGuestGoals }} </b>
            &nbsp;
            <img class="img" [src]="data.gGuestImg" align="center">  {{ data.gGuestTeam }} 
          </h3>
          <p class="ion-text-center">
            {{ data.gGymnasiumName }} &mdash; <b>Südbadenliga</b>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  
  <ng-container *ngIf="segmentModel === '3'">
    Soon!
  </ng-container> 

  <ng-container *ngIf="segmentModel === '4'">
    Soon!
  </ng-container> 

<br>
<div align="center">
  Made with <span style="color: #e25555;">&#9829;</span> in Hofweier
</div>
<br>
</ion-content >
