<ion-header>
  <ion-toolbar>
    <ion-title>
      Mannschaften
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mannschaften</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--1. Mannschaft-->
  <ion-card routerLink="/erstemannschaft" routerDirection="forward">
    <img src="/assets/bilder/herren1.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>1. Mannschaft</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--2. Mannschaft-->
  <ion-card routerLink="/zweitemannschaft" routerDirection="forward">
    <img src="/assets/bilder/herren2.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>2. Mannschaft</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--3. Mannschaft-->
  <ion-card routerLink="/drittemannschaft" routerDirection="forward">
    <img src="/assets/bilder/herren3.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>3. Mannschaft</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--A-->
  <ion-card>
    <img src="/assets/bilder/ajugend.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>A-Jugend</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--B-->
  <ion-card>
    <img src="/assets/bilder/bjugend.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>B-Jugend</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--C-->
  <ion-card>
    <img src="/assets/bilder/cjugend.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>C-Jugend</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--1. Mannschaft-->
  <ion-card>
    <img src="/assets/bilder/d1jugend.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>D-Jugend 1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--1. Mannschaft-->
  <ion-card>
    <img src="/assets/bilder/d2jugend.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>D-Jugend 2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--1. Mannschaft-->
  <ion-card>
    <img src="/assets/bilder/ejugend.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>E-Jugend</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--1. Mannschaft-->
  <ion-card>
    <img src="/assets/bilder/1minis.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>Minis 1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--2 Minis-->
  <ion-card>
    <img src="/assets/bilder/2minis.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>Minis 2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--1 Bambinis-->
  <ion-card>
    <img src="/assets/bilder/1bambinis.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>Bambinis 1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!--2 Bambinis-->
  <ion-card>
    <img src="/assets/bilder/2bambinis.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>Bambinis 2</ion-card-title>
    </ion-card-header> 
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
