<ion-header>
  <ion-toolbar>
    <ion-title>
      Mannschaften
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mannschaften</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-card>
    <img src="/assets/bilder/herren1.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>1. Mannschaft</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/bilder/herren2.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>2. Mannschaft</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/bilder/herren3.jpg">
    <ion-card-header header-translucent-ios>
      <ion-card-subtitle>2019/2020</ion-card-subtitle>
      <ion-card-title>3. Mannschaft</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
